<form>
  <header>
    <app-header-view></app-header-view>
  </header>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-2">
          <div class="p-5">
            <p><font size="6" >ID:</font></p>
            <p><font size="6" >Last name:</font></p>
            <p><font size="6">First name:</font></p>
            <p><font size="6">Street:</font></p>
            <p><font size="6">Postcode:</font></p>
            <p><font size="6">City:</font></p>
            <p><font size="6">Phone:</font></p>
          </div>
        </div>
        <div class="col-md-4 col-md-2">
          <div class="p-5">
            <div class="form-floating mb-3">
              <input type="ID" class="form-control" id="newEmployeeNewID" placeholder="2" readonly value="0">
            </div>
            <div class="form-floating mb-3">
              <input type="lastname" class="form-control" id="newEmployeeLastName" placeholder="Bullwinkel" name="lastname" [(ngModel)]="lastname">
              <label for="newEmployeeLastName">Last Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="firstname" class="form-control" id="newEmployeeFirstName" placeholder="Lukas" name="firstname" [(ngModel)]="firstname">
              <label for="newEmployeeFirstName">First Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="street" class="form-control" id="newEmployeeStreet" placeholder="Malerstraße 3" name="street" [(ngModel)]="street">
              <label for="newEmployeeStreet">Street</label>
            </div>
            <div class="form-floating mb-3">
              <input type="postcode" class="form-control" id="newEmployeePostcode" placeholder="28207" name="postcode" [(ngModel)]="postcode">
              <label for="newEmployeePostcode">Postecode</label>
            </div>
            <div class="form-floating mb-3">
              <input type="city" class="form-control" id="newEmployeeCity" placeholder="Bremen" name="city" [(ngModel)]="city">
              <label for="newEmployeeCity">City</label>
            </div>
            <div class="form-floating mb-3">
              <input type="phone" class="form-control" id="newEmployeePhone" placeholder="01528188936" name="phone" [(ngModel)]="phone">
              <label for="newEmployeePhone">Phonenumber</label>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-2">
          <div class="p-5">
            <div class="container-fluid">
              <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                  <th>ID</th>
                  <th>Designation</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <ng-container>
                  <tr>
                    <td>Q1</td>
                    <td>C++</td>
                    <td><button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                    </svg></button></td>
                  </tr>
                </ng-container>
                <app-selection-qualification-view></app-selection-qualification-view>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="p-5">
          <div class="d-flex flex-row-reverse">
            <div class="d-grid gap-2 d-md-flex">
              <a class="btn btn-secondary" (click)="addEmployee()" role="button">Save</a>
              <a class="btn btn-secondary" (click)="cancelNewEmployeeView()" role="button">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</form>

<app-qualification-selection></app-qualification-selection>
