<form>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Selection qualification</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="p-3">
            <ng-container>
              <div class="form-check">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>#</th>
                      <th>Designation</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let q of qualificationList">
                      <tr>
                        <td>
                          <div class="d-grid gap-2 d-md-flex justify-content-center">
                            <input class="form-check-input qualificationSet" type="checkbox" value="" id="flexCheckDefault">
                          </div>
                        </td>
                        <td>Q{{count}}</td>
                        <td>{{q.qualification.designation}}</td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click) ="saveSelection()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>
