<form>
  <header>
    <app-header-view></app-header-view>
  </header>
  <body *ngIf="isAuth()">
    <div class='p-3'>
      <div class='d-flex flex-row-reverse'>
        <div class="d-grid gap-2 d-md-flex">
          <div>
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="basic-addon1" data-bs-toggle="tooltip" data-bs-placement="top" title="Search by ID or Designation">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </span>
              <input id="IDSearch" type="text" class="form-control" name="search" style="width: 10%" aria-label="search" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="d-flex flex-row-reverse">
            <a class="btn btn-secondary" (click)="router.navigate(['qualification/new'])" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
                <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z"/>
                <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z"/>
              </svg> Add Qualification</a>
          </div>
        </div>
      </div>
    </div>
    <div class="p-3">
      <div class="container-fluid">
        <table class="table table-striped table-hover">
          <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Designation</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let q of qualifications$ | async">

              <tr>
                <td>{{addCounter()}}</td>
                <td>{{q.designation}}</td>
                <td>
                  <a class="btn btn-secondary" (click)="detailQualification(q)" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</form>
