<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="p-4">
        <img src="https://i.ibb.co/JzJ8dPc/Schulzentrum-SII-Utbremen-Logo.png" alt="logo" style="width: auto; height: 100px;">
      </div>
    </div>
    <div class="col-md-4">
      <div *ngIf="this.app.header == 1">
        <div class="p-5">
          <div class="d-grid gap-2 d-md-flex">
            <a class="btn btn-dark" (click)="router.navigate(['employee'])" role="button">Employee</a>
            <a class="btn btn-outline-dark" (click)="router.navigate(['qualification'])" role="button">Qualification</a>
          </div>
        </div>
      </div>
      <div *ngIf="this.app.header == 2">
        <div class="p-5">
          <div class="d-grid gap-2 d-md-flex">
            <a class="btn btn-outline-dark" (click)="router.navigate(['employee'])" role="button">Employee</a>
            <a class="btn btn-dark" (click)="router.navigate(['qualification'])" role="button">Qualification</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" >
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="p-5">
          <div class="d-grid gap-2 d-md-flex">
            <input type="text" value="lbullwinkel" class="text-md-center" readonly>
            <button type="button" class="btn btn-secondary" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="p-1 mb-1 btn-dark text-white"></div>
</div>
