<form>
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class='p-4'>
            <img src="https://i.ibb.co/JzJ8dPc/Schulzentrum-SII-Utbremen-Logo.png" alt="logo" style="width: auto; height: 100px;">
          </div>
        </div>
      </div>
    </div>
    <div class="p-3">
      <div class="p-1 mb-1 btn-dark text-white"></div>
    </div>
  </header>
  <body>
    <div class="container">
      <div class="col-md-6 offset-md-3">
          <form (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
            <div class="row mt-5">
              <div class="col align-self-center">
                <div class="text-center">
                  <u><h1>Sign In</h1></u>
                </div>
                <div class="form-floating mb-3">
                  <input name="email" type="email" class="form-control" id="newUsersName" ngModel placeholder="">
                  <label for="newUsersName">Username</label>
                </div>
                <div class="form-floating">
                  <input name="password" type="password" class="form-control" id="newUsersPassword" ngModel placeholder="" >
                  <label for="newUsersPassword">Password</label>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-12 mb-4">
                <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-secondary">Login</button>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
  </body>
</form>
