<form>
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="p-4">
            <img src="https://arnsberg-neheim.de/images/logos/logo.jpg" alt="linkedin-banner-image-2" style="width: auto; height: 100px;">
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div class="p-5">
              <div class="d-grid gap-2 d-md-flex">
                <button type="button" class="btn btn-dark" (click)="menuEmployee()">Employee</button>
                <button type="button" class="btn btn-outline-dark" (click)="menuQualification()">Qualification</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="p-5">
              <div class="d-grid gap-2 d-md-flex">
                <button type="button" class="btn btn-dark btn-lg" data-toggle="tooltip" data-placement="bottom" title="Darkmode"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-high-fill" viewBox="0 0 16 16">
                  <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                </svg></button>
                <input type="text" value="lbullwinkel" class="text-md-center" readonly>
                <button type="button" class="btn btn-secondary" (click)="logout()">Logout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-3">
      <div class="p-1 mb-1 btn-dark text-white"></div>
    </div>
  </header>
  <body>
    <div class="p-3">
      <div class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-secondary" (click)="addEmployee()">+ Add Employee</button>
      </div>
    </div>
    <div class="p-3">
      <div class="container-fluid">
        <table class="table table-striped table-hover">
          <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Last name</th>
            <th>First name</th>
            <th>Adress</th>
            <th>Phone</th>
          </tr>
          </thead>
          <tbody>
         <ng-container *ngFor="let e of employees$ | async">
           <tr>
             <td>{{e.id}}</td>
             <td>{{e.lastName }}</td>
             <td>{{e.firstName}}</td>
             <td>{{e.street }}, {{e.postcode}} {{e.city}}</td>
             <td>{{e.phone}}</td>
          </tr>
         </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</form>
